<div>
  <link href="./gallery-card2.css" rel="stylesheet" />
  <div class="gallery-card2-gallery-card">
    <div class="gallery-card2-container">
      <div class="gallery-card2-container1">
        <h2 class="gallery-card2-text"><span>Project Title</span></h2>
        <span class="gallery-card2-text1">
          <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit</span>
        </span>
        <span class="gallery-card2-text2">SHOW MORE</span>
      </div>
    </div>
    <img
      alt="image"
      src="https://images.unsplash.com/photo-1484980972926-edee96e0960d?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDI0fHxmb29kfGVufDB8fHx8MTYyNjQ0OTIzNQ&ixlib=rb-1.2.1&h=1000"
      class="gallery-card2-image"
    />
  </div>
</div>
