.u-section-1 .u-image-1 {
  min-height: 561px;
  background-image: url("images/S__17686557.jpg");
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    min-height: 463px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-1 {
    min-height: 355px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-image-1 {
    min-height: 266px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    min-height: 167px;
  }
}